<h2>Agregar un libro</h2>
<div *ngIf="showSpinner">
    <img src="..\..\assets\img\loading.svg">
</div>
<div *ngIf="error && !showSpinner" class="alert alert-danger" role="alert">{{error}}</div>
<form *ngIf="!showSpinner" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">ISBN:
      <input #isbnInput class="form-control" (input)="getBook($event.target.value)" formControlName="isbn" [class.is-invalid]="errorMsgIsbn">
      <div class="invalid-feedback">{{errorMsgIsbn}}</div>
    </label>
    <label class="center-block">Titulo:
      <input class="form-control" formControlName="title" [class.is-invalid]="errorMsgTitle">
      <div class="invalid-feedback">{{errorMsgTitle}}</div>
    </label>    
    <label class="center-block">Editorial:
      <input class="form-control" formControlName="publisher" [class.is-invalid]="errorMsgPublisher">
      <div class="invalid-feedback">{{errorMsgPublisher}}</div>
    </label>
    <label class="center-block">Precio:
      <input class="form-control" formControlName="price" [class.is-invalid]="errorMsgPrice">
      <div class="invalid-feedback">{{errorMsgPrice}}</div>
    </label>    
    <label class="center-block">Recibo:
        <select  class="form-control" (change)="valueChanges($event.target.value)" formControlName="receipt"> 
          <option *ngFor="let receipt of receipts" [value]="receipt.receiptId">{{receipt.receiptCode}}</option>
        </select>
    </label>
    <label class="center-block">Fecha Devolucion:
      <div>
        <input  style="float:none" placeholder="Fecha de devolucion" ngx-mydatepicker name="returnDate"
        [(ngModel)]="datePicked" [options]="INgxMyDpOptions" #dp="ngx-mydatepicker" formControlName="returnDate" [class.is-invalid]="errorMsgReturnDate"/>
        <span >
            <button type="button" mat-button (click)="dp.toggleCalendar()">
                <i class="material-icons">date_range</i>
            </button>
            <button type="button" mat-button (click)="dp.clearDate()">
                <i class="material-icons">clear</i>
            </button>            
        </span>
      </div>
      <div class="invalid-feedback">{{errorMsgReturnDate}}</div>
    </label> 
  </div>
  <button type="submit" [disabled]="!bookForm.valid" class="btn btn-success">Save</button>
</form>