<div class="container">
  <mat-toolbar color="primary" class="main-toolbar" >

    <mat-toolbar-row>
        <span>Libreria Segurola</span>
        <button mat-button routerLink="/home"><i class="material-icons">home</i></button>
        <button mat-button routerLink="/stock"><i class="material-icons">list</i></button>
        <button mat-button routerLink="/contact"><i class="material-icons">contact_mail</i></button>
        <button mat-button routerLink="/excel-import" *ngIf="auth.isAuthenticated()"><i class="material-icons">description</i></button>
        <button mat-button routerLink="/item-query" *ngIf="auth.isAuthenticated()"><i class="material-icons">search</i></button>
        <button mat-button routerLink="/item-add" *ngIf="auth.isAuthenticated()"><i class="material-icons">add</i></button>

        <span class="fill-remaining-space"></span>

        <button mat-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
            Admin
        </button>

        <app-profile *ngIf="auth.isAuthenticated()"></app-profile>
        
        <button mat-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
            Log Out
        </button>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
        
    <mat-menu #appMenu="matMenu">
      <button routerLink="/help" mat-menu-item>Help</button>
      <button routerLink="/policy" mat-menu-item>Privacy Policy</button>
      <button routerLink="/terms" mat-menu-item>Terms and Conditions</button>
    </mat-menu>
  </mat-toolbar>
  
  <div class="navigation-banner">
    <nav class="navbar navbar-expand-md navbar-transparent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item navbanner-icon">
          <a class="nav-link" href="https://www.facebook.com/LibSegurola/" target="_blank">
              <i class="fab fa-facebook fa-3x"></i>
          </a>
        </li>
        <li class="nav-item navbanner-icon ml-icon-background">
            <a href="https://listado.mercadolibre.com.ar/libreria-segurola#D[A:libreria%20segurola]" target="_blank">
            <img src="https://http2.mlstatic.com/ui/navigation/3.1.5/mercadolibre/logo__large_plus.png"></a>
        </li>      
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
    <div class="container">
        <div class="row vcenter">
            <div class="pull-left col-lg-4 col-xs-12" id="copyright">
                <p>Copyright &copy;2018 by Nicolas Grillo</p>
            </div>
            <div class="col-lg-4 col-lg-offset-4 col-xs-12" id="social">
                <div class="pull-right">
                    <a href="https://www.linkedin.com/in/nicol%C3%A1s-grillo-9b450065/">
                      <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://twitter.com/nicogri29">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="skype:nicolasgrillo_3?chat"><i class="fab fa-skype"></i></a>
                    <a href="https://www.facebook.com/nicolas.grillo.92">
                      <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://github.com/nicolasgrillo">
                      <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>