.nav-libreria-header {
    background-color: rgba(0, 0, 255, 0.5)
}

.brand-libreria-header {
    color: white
}

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

 .navigation-example {
     background-image:url(https://image.ibb.co/gu8oKn/books_banner.jpg);
     background-position:50%;
     background-size:cover;
     background-attachment:fixed;
     margin-top:0
}

.ml-icon-background {
    background:lightgray url('https://http2.mlstatic.com/ui/navigation/3.1.5/mercadolibre/logo__large_plus.png') no-repeat right top;
    border-radius: 25px;
}