<mat-card class="ls-card">
    <mat-card-header>
        <mat-card-title>Libreria Segurola</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://image.ibb.co/mMFQLS/Libreria_Front.png" alt="Foto frontal de Libreria Segurola">
    <mat-card-content>
            <p>
              Establecida en el año 1999 en el barrio de Floresta, la Librería Segurola atiende 
              a sus vecinos con el mismo compromiso de siempre. 
            </p>
          </mat-card-content>
</mat-card>
